<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<body>
<nav th:fragment="nav" class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" class="navbar-toggle collapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a th:href="@{/thymeleaf}" class="navbar-brand">Librairie Audio</a>
        </div>

        <div id="bs-example-navbar-collapse-1" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a th:href="@{/thymeleaf/artists(page=0,size=10,sortDirection='ASC',sortProperty='name')}" class="nav-link">Liste des artistes</a></li>
            </ul>

            <form role="search" class="navbar-form navbar-right" th:action="@{/thymeleaf/artists(page=0,size=10,sortDirection='ASC',sortProperty='name')}" method="get">
                <div class="form-group">
                    <input type="text" placeholder="Rechercher par nom" class="ember-text-field form-control ember-view" name="name">
                    <input type="hidden" name="page" value="0">
                    <input type="hidden" name="size" value="10">
                    <input type="hidden" name="sortDirection" value="ASC">
                    <input type="hidden" name="sortProperty" value="name">
                </div>
                <button type="submit" class="btn btn-default">Rechercher</button>
            </form>
        </div>
    </div>
</nav>
</body>
</html>